<div class="lg:col-span-4 space-y-6">
  <%= render "tonight_sky" %>
  <%= render "current_moon" %>
  <%= render "sun_moon_times" %>
</div>

<div class="lg:col-span-5 space-y-6">
  <%= render "planets_tonight", planets: @planets, observer: @observer %>
</div>


<!--<div class="lg:col-span-3 space-y-6">-->
  <%= render "featured_objects" %>
<!--</div>-->
